
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登录注册验证</title>
</head>
<body>
  <div>
      <form action="/login" method="post">
        <fieldset>
            <legend>Please  login</legend>
            <p>User: <input type="text" name="username"/></p>
      
            <p>Pass: <input type="text" name="password"/></p>
            <button>登录</button>
            <button><a href="http://localhost:3001/user_register">注册</a></button>
        </fieldset>
      </form>
  </div>
</body>
</html>